*{
 font-family: 'Open Sans', sans-serif;
 text-align: center;
 color:rgb(50, 50, 50);
}

body {
  padding: 5%;
}

img {
  max-width: 100%;
}

ul {
  padding-left:0;
}

li {
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px
}

.title {
  font-size: 30px;
}
